<!-- <app-template-form></app-template-form>

<app-reactive-form></app-reactive-form> -->

<div class="navbar">

    <div class="nav-logo">
    <img src="https://wallpapercave.com/wp/9p5gWlS.jpg" alt="arsenal logo">
    <span>Arsenal Shop</span>
    </div>

    <div class="nav-links">
        <div class="add-product-link"> 
            <a >Add Products</a>
        </div>
        <div class="products-link"> 
            <a routerLink="products">Products</a>
        </div>
    </div>

    <div class="nav-auth-links">
        <div class="login-link"><a >Login</a></div>
        <div class="logout-link"><a >Logout</a></div>
    </div>
</div> <br>

<!-- <app-home></app-home>
<app-products></app-products> -->

<router-outlet></router-outlet>