<div class="arsenal">
    <div class="henry">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUVlLAVRyOXx0orZdAxH96xOPV22ONJ-mqxg&usqp=CAU" alt="">

        <h1>Thiery Henry</h1>
    </div>

    <div class="aubameyang">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu2gaUTUBCDr6b9NfLNvL4PI_AzVetLIwKRw&usqp=CAU" alt="">

        <h1></h1>
    </div>

    <div class="jesus">
        <img src="https://preview.redd.it/arteta-on-gabriel-jesus-goal-how-sharp-he-is-how-lively-he-v0-xc7pk6o1afr91.jpg?width=612&format=pjpg&auto=webp&s=8a7533871adb80d3936d0af2973d85efb408d5c2" alt="">
    </div>
</div>



    